language: node_js
node_js:
  - node

before_script:
  - npm install replace -g
script: replace "GOOGLE_UA" "${GOOGLE_UA}" build/index.html

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: $AWS_S3_BUCKET_NAME
  skip_cleanup: true
  local_dir: build
  region: $AWS_REGION
  on:
    branch: master