name: S3 Deploy
on:
  push:
    branches:
    - master
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Replace Google UA-tag
        run: sed -i 's/GOOGLE_UA/${{ secrets.GOOGLE_UA }}/g' build/index.html
      
      - name: Install Grunt 
        run: npm install grunt

      - name: Test 
        run: grunt test

      - name: Build
        run: grunt build-dist
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:  ${{ secrets.S3_BUCKET_REGION }}

      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./public/ s3:// ${{ secrets.S3_BUCKET }} --delete
