name: S3 Deploy
on:
  push:
    branches:
    - master

permissions:
  id-token: write
  contents: read
  
jobs:
  run:
    runs-on: ubuntu-latest
    environment: Deploy env
    steps:
      - uses: actions/checkout@v3

      - name: Replace Google UA-tag
        run: sed -i 's/GOOGLE_UA/${{ secrets.GOOGLE_UA }}/g' build/index.html
      
      - name: Install Grunt 
        run: npm install grunt

      - name: Test 
        run: grunt test

      - name: Build
        run: grunt build-dist
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy static site to S3 bucket
        run: aws s3 sync ./dist/ s3://${{ secrets.S3_BUCKET }} --delete
